@charset "utf-8";

@font-face {
    font-family: 'SoukouMincho';
    src: url(../fonts/SoukouMincho.ttf) format('truetype');
}

@font-face {
    font-family: 'digital-7';
    src:  url(../fonts/digital-7mono.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url(../fonts/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'FiraSansExtraCondensed-Bold';
    src: url('../fonts/FiraSansExtraCondensed-Bold.ttf') format('truetype');
}

ol {
    list-style: disc;
    margin-left: 30px;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR Regular';
}


#section {
    height: auto;
    margin-top: 100px;

}

.text {
    width: 300px;
    height: auto;
    /*    background-color: aquamarine;*/
    margin: 0 auto;
    padding: 20px;
    color: #3c3c3c;

}

.text ul li {
    font-size: 16px;
    line-height: 2;
}

.line {
    padding-bottom: 20px;
}


h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.start {
    margin-bottom: 20px;
}

@media (min-width:700px) {
    .text {
        width: 660px;
    }
    
    h1 {
        font-size: 24px;
    }
}

@media (min-width:1024px) {
     .text {
        width: 1350px;
         margin: 40px;
    }
    
    h1 {
        font-size: 32px;
    }
    
    .text ul li {
        font-size: 18px;
    }
}